.bio {
    padding: 0;
    margin-bottom: 10px;
}

.clearafter:after{
    content: '';
    display: block;
    clear: both;
}

.intro-toc {
        height: inherit;
        margin-bottom: 1em;
    }

.toc {
        column-count: 1;
        padding-left: 0;
        font-size: var(--size-toc);
        line-height: var(--lineh-toc);
    }